*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* ПОСТРОЕНИЕ ЛЕЙАУТА */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  max-width: 1140px;
  margin: auto;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  align-items: start;
  gap: 40px;
  padding-top: 16px;
}

.content__list::-webkit-scrollbar {
  display: none; /*chrome*/
}

.content__list {
  position: relative;
  max-height: 324px;
  overflow-y: auto;
  width: 399px;
  overflow-x: hidden;
  scrollbar-width: none; /*mozilla*/
}

.content__details {
  width: 100%;
  min-height: 534px;
  /* height: 100%; */
}

.title {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.title + ul {
  padding-top: 26px;
}

.content__list-item + .content__list-item {
  padding-top: 30px;
}

/* .content__list-item {
  padding-bottom: 30px;
} */

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-fit: cover;
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex: 1;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%; 
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', serif;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  padding-top: 6px;
}

/* ПОЛЕ ФОРМЫ */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: 'Fira Sans Condensed', serif;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  min-height: 27px;
}

input,
label {
  width: 100%;
}

label span {
  display: inline-block;
  font-family: 'Fira Sans Condensed', serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.search-form__label .search-form__pseudo-checkbox {
  display: inline-block;
  margin-top: 1.3px;
  width: 19px;             
  height: 19px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid white;
}

.button {
  font-family: 'Fira Sans Condensed', serif;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 34px;
  cursor: pointer;
}

.more-button {
  width: 395px;
  margin-top: 30px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.search-form__submit-button {
  margin-top: 20px;
}

/* СОСТОЯНИЯ ЭЛЕМЕНТОВ */

.button:hover {
  text-underline-offset: 1px;
  text-decoration-line: underline;
}

.button:active {
  text-decoration-line: none;
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
  background-color: transparent;
  text-decoration-line: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__textfield:active:focus {
  border: none;
}

.search-form__textfield::placeholder {
  color: inherit;
  opacity: 0.7;
}

.search-form__label:has(input:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox[type='checkbox']:checked:focus + .search-form__pseudo-checkbox {
  background-color: #FFF;
  outline: 1px solid black;
  outline-offset: -2px;
}

.search-form__checkbox[type='checkbox']:focus-visible + .search-form__pseudo-checkbox {
  background-color: transparent;
  box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.3);
}

.search-form__label-text:hover {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

/* .content__card-link_current:active {
  background: #545050;
  padding: 2px;
} */

.content__card-link_current {
  background-color: #545050;
  padding: 1px;
}

.content__card-link:hover{
  text-decoration: underline;
  text-underline-offset: 4.5px;
  color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  margin: 2px;
  box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
}